html, body {
	margin: 0;
	background-color: white;
	height: 100%;
}

.contextmenu {
	min-width: 100px;
	background-color: #eee;
	position: fixed;
	opacity: 0;
	transition: opacity 250ms;
	margin: 0;
	padding: 5px 0;
	list-style: none;
	pointer-events: none;
	border-radius: 8px;
	border: 1pt rgba(191, 191, 191, 0.8) solid;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 11pt;
	box-shadow: rgba(43, 43, 43, 0.34) 1px 1px 11px 0px;
	color: #222621;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	user-select: none;
	/* width: 100%; */
}

.contextmenu.show {
	opacity: 1;
	transition: opacity 30ms;
	pointer-events: all;
}

.contextmenu.submenu {
    transition: opacity 250ms;
}

.contextmenu.submenu.show {
	transition: opacity 0ms;
}

.menu-item.normal {
	cursor: default;
	padding: 1px 0 2px;
	box-sizing: border-box;
	position: relative;
	display: grid;
	grid-template-columns: 20px auto 20px;
	width: 100%;
}

.menu-item.normal:hover,
.menu-item.normal.submenu-active {
	background-color: #499BFE;
	color: #fff;
}

.menu-item.normal > div {
    align-self: center;
}

.menu-item.normal .icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 16px;
    max-height: 16px;
}

li.menu-item.separator {
	height: 2px;
	background-color: rgba(128, 128, 128, 0.2);
	margin: 6px 0;
}

.menu-item .modifiers,
.menu-item .icon-wrap {
	width: 20px;
}

.menu-item .modifiers {
	box-sizing: border-box;
	padding: 0 3px 0 0;
	text-align: right;
}

.label {
    padding: 0 20px 0 0;
    grid-column-start: 2;
    grid-column-end: 3;
}

li.menu-item.normal.disabled {
    color: #ababab;
}

li.menu-item.normal.disabled:hover {
    background-color: transparent;
}