html, body {
	margin: 0;
	background-color: white;
	height: 100%;
}

.contextmenu {
	min-width: 100px;
	background-color: #eee;
	position: fixed;
	opacity: 0;
	transition: opacity 250ms;
	margin: 0;
	padding: 4px 0;
	list-style: none;
	pointer-events: none;
	border-radius: 8px;
	border: 1px rgba(191, 191, 191, 0.8) solid;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 14px;
	box-shadow: rgba(43, 43, 43, 0.34) 1px 1px 11px 0px;
	color: #222621;
	user-select: none;
}

.contextmenu.show {
	opacity: 1;
	transition: opacity 30ms;
	pointer-events: all;
}

.contextmenu.submenu {
    transition: opacity 250ms;
}

.contextmenu.submenu.show {
	transition: opacity 0ms;
}

.menu-item.normal,
.menu-item.checkbox {
	cursor: default;
	padding: 1px 0 2px;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: flex-start;
	width: 100%;
}

.menu-item.normal:hover,
.menu-item.checkbox:hover,
.menu-item.normal.submenu-active {
	background-color: #499BFE;
	color: #fff;
}

.menu-item.normal > div,
.menu-item.checkbox > div {
    align-self: center;
    vertical-align: middle;
}

.menu-item.normal .icon {
    display: inline-block;
    vertical-align: middle;
    max-width: 16px;
    max-height: 16px;
}

li.menu-item.separator {
	height: 2px;
	background-color: rgba(128, 128, 128, 0.2);
	margin: 6px 0;
}

.menu-item .modifiers,
.menu-item .icon-wrap,
.menu-item .checkmark {
	/*width: 20px;*/
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.menu-item .checkmark {
	width: 22px;
}

.menu-item .modifiers {
	box-sizing: border-box;
	padding: 0 6px;
	text-align: right;

	order: 0;
    flex: 0 0 auto;
    align-self: center;
}

.menu-item .label {
    padding: 0 22px 0 0;
    order: 0;
    flex: 1 0 auto;
    align-self: center;
}

li.menu-item.normal.disabled {
    color: #ababab;
}

li.menu-item.normal.disabled:hover {
    background-color: transparent;
}

.icon-wrap {
    padding: 0 6px 0 0;
    display: inline-block;
}

span.label-text {
    align-items: center;
    vertical-align: middle;
}

.menu-item.checkbox.checked .checkmark::before {content: '✔';text-align: center;width: 100%;}